@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/hello.js")" type="text/javascript"></script>
        <script src="http://d3js.org/d3.v3.js"></script>
    </head>
    <style>

	.bar {
  fill: steelblue;
}

.bar:hover {
  fill: brown;
}


.square {
  fill: grey;
}

.square:hover {
  fill: brown;
}

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

</style>
<body>
  <button type="button" id="startButton">Start</button>
<script src="http://d3js.org/d3.v3.min.js"></script>
<script>
var wsUri = "ws://" + window.location.host + "/websocket"; 
var output; 
var websocket;
var lineData = [];

window.onload = function(){ 
	output = document.getElementById("output"); 
	var startButton = document.getElementById('startButton');
	setupWebSocket();
	startButton.onclick = function(evt) { onStartButtonClick(evt) };
};

function onStartButtonClick(e) { 
	e.preventDefault();
	  
	  var submitData = "{\"msgType\" : \"startProcessing\"}";	
	  doSend(submitData);

	  return false;
}

var margin = {top: 20, right: 20, bottom: 30, left: 40},
    width = 960 - margin.left - margin.right,             //960
    height = 250 - margin.top - margin.bottom;

var svgWidth = 1000;
var svgHeight = 1000;

var svg = d3.select("body").append("svg")
    .attr("width", svgWidth)
    .attr("height", svgHeight)
  .append("g")
    .attr("transform", "translate(" + margin.left + "," + margin.right + ")");


var squareData = [];
var size = 9000
while(size--) squareData[size] = 0;

svg.selectAll(".square")
.data(squareData)
.enter().append("rect")
.attr("class", "bar")
.attr("x", function(d, i) { return 17*i%300; })
.attr("width", 15)
.attr("y", function(d, i) { return 17*Math.floor(i/300); })
.attr("height", 15);

//d3.tsv("data.tsv", type, function(error, data) {
  //x.domain(data.map(function(d) { return d.letter; }));
  //y.domain([0, d3.max(data, function(d) { return d.frequency; })]);

 /* var data = [
              {letter: "Locke",    frequency:  4},
              {letter: "Reyes",    frequency:  8},
              {letter: "Ford",     frequency: 15},
              {letter: "Jarrah",   frequency: 16},
              {letter: "Shephard", frequency: 23},
              {letter: "Kwon",     frequency: 42}
            ];
*/
  var data = [45, 7, 123, 78, 56, 234];


  var x = d3.scale.ordinal()
    .domain([0, data.length])
    .range([0, width]);

  var y = d3.scale.linear()
    .domain([0, d3.max(data)])
    .range([height, 0]);

  var xAxis = d3.svg.axis()
  .scale(x)
  .orient("bottom");

  var yAxis = d3.svg.axis()
  .scale(y)
  .orient("left")
  .ticks(10, "%");
  
  //x.domain(data.map(function(d) { return d.letter; }));
  //y.domain([0, d3.max(data, function(d) { return d.frequency; })]);
  
  svg.append("g")
      .attr("class", "x axis")
      .attr("transform", "translate(0," + 4*height + ")")
      .call(xAxis);

  svg.append("g")
      .attr("class", "y axis")
      .call(yAxis)
    .append("text")
      .attr("transform", "rotate(-90)")
      .attr("y", 6)
      .attr("dy", ".71em")
      .style("text-anchor", "end")
      .text("Count");

  svg.selectAll(".bar")
      .data(data)
    .enter().append("rect")
      .attr("class", "bar")
      .attr("x", function(d, i) { return width/data.length*i; })
      .attr("width", width/data.length)
      .attr("y", function(d) { return y(d); })
      .attr("height", function(d) { return height - y(d); });

  
  
//});

function type(d) {
  d.frequency = +d.frequency;
  return d;
}

function setupWebSocket() { 
	websocket = new WebSocket(wsUri); 
	//writeToScreen("Create new websocket");
	websocket.onopen = function(evt) { onWebSocketOpen(evt) };
	//writeToScreen("Set websocket open handler");
	websocket.onclose = function(evt) { onWebSocketClose(evt) };
	//writeToScreen("Set websocket close handler");
	websocket.onmessage = function(evt) { onWebSocketMessage(evt) };
	//writeToScreen("Set websocket on msg handler");
	websocket.onerror = function(evt) { onWebSocketError(evt) };
	//writeToScreen("Set websocket on error handler");
}

function onWebSocketOpen(evt) { 
	writeToScreen("CONNECTED"); 
	
}

function onWebSocketClose(evt) {
	writeToScreen("DISCONNECTED");
}

function onWebSocketMessage(evt) { 
	//writeToScreen('<span style="color: blue;">RESPONSE: ' + evt.data+'</span>'); 

	data = JSON.parse(evt.data);
	//writeToScreen('<span style="color: blue;">RESPONSE: ' + data.length + width + height +'</span>'); 

  var x = d3.scale.ordinal()
    .domain([0, data.length])
    .range([0, width]);

  var y = d3.scale.linear()
    .domain([0, d3.max(data)])
    .range([height, 0]);

  var xAxis = d3.svg.axis()
  .scale(x)
  .orient("bottom");

  var yAxis = d3.svg.axis()
  .scale(y)
  .orient("left")
  .ticks(10, "%");
  
  svg.selectAll(".bar")
      .data([]).exit().remove();

  svg.selectAll(".bar")
      .data(data)
      .enter().append("rect")
      .attr("class", "bar")
      .attr("x", function(d, i) { return width/data.length*i; })
      .attr("width", width/data.length)
      .attr("y", function(d) { return y(d); })
      .attr("height", function(d) { return height - y(d); });
}
		
	      


function onWebSocketError(evt) { 
	writeToScreen('<span style="color: red;">ERROR:</span> ' + evt.data); 
}

function doSend(message) { 
	writeToScreen("SENT: " + message);
	websocket.send(message);
}

function writeToScreen(message) {
	var pre = document.createElement("p"); 
	pre.style.wordWrap = "break-word";
	pre.innerHTML = message; 
	output.appendChild(pre);
}


    </script>		
    <h2>WebSocket Test</h2>  <div id="output"></div>	     
    </body>
</html>
